@model MVC_CRUD_Operations.Models.DataTransferObject.CreateProductDTO
@{
    ViewBag.Title = "CreateProduct";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<div class="row">
    <div class="col-sm-offset-8">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Create Product</h3>
            </div>
            <form role="form" method="post" action="/Product/CreateProduct">
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.ProductName)
                        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control", @placeholder = "Product Name" })
                        @Html.ValidationMessageFor(x => x.ProductName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Price)
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", @placeholder = "Price" })
                        @Html.ValidationMessageFor(x => x.Price)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Stock)
                        @Html.TextBoxFor(x => x.Stock, new { @class = "form-control", @placeholder = "Stock" })
                        @Html.ValidationMessageFor(x => x.Stock)
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" style="float:right">Submit</button>
                    </div>
                </div>
                <!-- /.box-body -->
                <!--<div class="box-footer">
                    @@Html.ActionLink("Back to List", "List", "Category", new { @@class = "btn btn-warning btn-block", @@type = "button" })-->
                    <!--   <a href="/Category/List" class="btn btn-warning btn-block" type="button"> Back to List</a> -->

                <!--</div>-->
            </form>
        </div>
    </div>
</div>
<h2>CreateProduct</h2>

